---
layout: page
permalink: /apps.html
title: Applications
description: Applications
header-img:
last-updated: 2020-10-30 5:55 PM
---

<!-- Page Content -->
{% if site.twitter-widget %}
<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">
    <div class="col-md-12">

      {% assign apps = site.posts | where: "tag", "Application" %}
      {% assign others = site.posts | where_exp: "post", "post.tag != 'Application'" %}
      {% assign ordered_posts = apps | concat: others %}

      {% for post in ordered_posts %}
      {% assign target_url = post.link | default: post.url %}

      <div class="blogcard {{post.card}} mb-4 mt-4 position-relative" style="width: 100%;">
        <h3>
          <a href="{{ target_url }}" class="nohighlight" {% if post.link %}target="_blank" rel="noopener noreferrer" {%
            endif %}>
            {{ post.title }}
          </a>
        </h3>

        <span class="badge badge-primary" style="background-color: rgba(78, 34, 208, 0.1); color: #4e22d0;">
          {{ post.tag }}
        </span>

        {% if post.repo %}
        {% include github-buttons.html item=post %}
        {% endif %}

        <p>{{ post.description }}</p>
        <p><i>{{ post.lead }}</i></p>

        <!-- link invisível que “estica” e cobre o card -->
        <a class="stretched-link" href="{{ target_url }}" {% if post.link %}target="_blank" rel="noopener noreferrer" {%
          endif %} aria-label="Open {{ post.title }}"></a>
      </div>

      {% endfor %}

    </div>
  </div>

  <!-- Twitter Side Widget -->
  <div class="card my-4 shadow border-0">
    <a class="twitter-timeline" data-height="2300" data-theme="light"
      href="https://twitter.com/{{ site.twitter }}?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

{% else %}
<!-- Blog Entries Column -->
<div class="col-md-12">

  {% assign apps = site.posts | where: "tag", "Application" %}
  {% assign others = site.posts | where_exp: "post", "post.tag != 'Application'" %}
  {% assign ordered_posts = apps | concat: others %}

  {% for post in ordered_posts %}
  {% assign target_url = post.link | default: post.url %}

  <a href="{{ target_url }}" class="blogcard-link" {% if post.link %}target="_blank" rel="noopener noreferrer" {% endif
    %}>

    <div class="blogcard {{post.card}} mb-4 mt-4" style="width: 100%;">
      <h3 class="nohighlight">{{ post.title }}</h3>

      <span class="badge badge-primary" style="background-color: rgba(78, 34, 208, 0.1); color: #4e22d0;">
        {{ post.tag }}
      </span>
      {% if post.repo %}
      {% include github-buttons.html item=post %}
      {% endif %}

      <p>{{ post.description }}</p>
      <p><i>{{ post.lead }}</i></p>
    </div>

  </a>
  {% endfor %}

</div>
</div>
{% endif %}